# Cache
__pycache__/
.ruff_cache
.uv_cache

logs/
/plots/
experiments/plots/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.env
.vscode/
.idea/
dist/
build/
*.log
coverage/
*.egg-info/
.env.local
.env.*.local
*.sqlite3
*.db
*.bak
*.tmp
*.old
*.zip
*.tar.gz
*.egg
*.iml
dashboards/public/dashboard_data.json
*/outputs/
experiments/*/outputs/
*/plots_outputs/
experiments/*/plots_outputs/

envs/dcops/outputs
.venv
data/hospital/raw
data/hospital/outpatient_merged.csv
/bigtemp/duh6ae/Terrarium/data/hospital/outpatient_merged.csv

# experiments/
tests/
